# Replica MySQL credentials
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=voice_assistant
MYSQL_USER=voice_user
MYSQL_PASSWORD=
MYSQL_PORT=3307

# Replication config (used by setup-replica.sh)
SOURCE_HOST=<internal-ip-of-application-server>
REPL_USER=replicator
REPL_PASSWORD=
BINLOG_FILE=mysql-bin.000001
BINLOG_POS=4
