# Deploy this file to the reporting server host:
#   sudo cp mysql-replica/my.cnf /etc/mysql/conf.d/replica.cnf
#   sudo systemctl restart mysql

[mysqld]
server-id            = 2
relay_log            = relay-bin
binlog_format        = ROW
gtid_mode            = OFF
replicate_do_db      = voice_assistant
read_only            = ON
super_read_only      = ON

# Slow query log
slow_query_log       = ON
long_query_time      = 1
log_queries_not_using_indexes = ON
